#left_panel {
    visibility: hidden;
}

.form {
    margin-top:50px;
}

.muhaha {
    margin-top: 150px;
    margin-left: 250px;
}

.list-group-item {
  overflow:hidden;  
  position: relative;
  display: block;
  margin-top: 5px;
  padding: 5px 15px;
}
